name: API CI
concurrency: api
on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: "30 17 * * *"
jobs:
  release:
    name: Update api.json
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Update summary & API
        shell: bash
        run: npm start
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set git user and pull
        shell: bash
        run: "git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com' && git config --global user.name 'github-actions[bot]' && git pull && git add ."
      - name: Commit changes
        shell: bash
        run: "git commit -m ':bento: Update api.json and README.md [skip ci]' || echo 'No changes to commit'"
      - name: Push changes
        shell: bash
        run: "git push"
